@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'JetBrains-Mono-Thin';
        src: url('/fonts/JetBrains-Mono-Thin.woff2') format('woff2');
        font-weight: 100;
        font-display: swap;
        font-style: normal; 
    }
}

/* html {background-color: #1A1B1E;} */
/* a {cursor: cursor;} */


/* .wallet-adapter-modal {position: relative!important;} */

button > * {font-size: 12px!important;}
.wallet-adapter-modal-wrapper > * {font-size: 12px!important;}
.wallet-adapter-modal-title {font-size: 12px!important;}
.wallet-adapter-button {font-family: 'JetBrains-Mono-Thin'!important; color: #eee!important;}
.wallet-adapter-modal-button-close {border: 1px solid #262729!important; background-color: #000!important;}
.wallet-adapter-modal-wrapper {
    border: 1px solid #18181a; 
    background-color: #060607!important;
    border-radius:2px!important;
    font-family: 'JetBrains-Mono-Thin'!important;
}


#eyes {
    animation: flicker 1s infinite;
  }
  
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .7;
    }
    100% {
      opacity: 1;
    }
  }
  