@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
        font-family: 'JetBrains-Mono-Thin';
        src: url('/fonts/JetBrains-Mono-Thin.woff2') format('woff2');
        font-weight: 100;
        font-display: swap;
        font-style: normal; 
    }
}

#eyes {
    animation: flicker 1s infinite;
  }
  
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .7;
    }
    100% {
      opacity: 1;
    }
  }
  
/* transitions */

.transition-initial {
  opacity: 1;
}

.transition-enter-active,
.transition-exit-active {
  transition: opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.3s ease;
}

.transition-enter,
.transition-exit {
  opacity: 0;
}

.transition-enter-active {
  opacity: 1;
  background-color: #edebeb;
  /* Flash color for light mode */
}

/* Dark mode styles */
/* @media (prefers-color-scheme: dark) {
  .transition-enter-active {
    background-color: #8e44ad;
  } */

  .transition-exit-active {
    opacity: 0;
    background-color: #333;
    /* Change this value to the desired flash color for dark mode */
  }

  :root {
    --primary-color: var(--color-primary);
    --base-100-color: var(--color-base-100);
  }

  .text-primary .flag-image {
    stroke: currentColor;
  }


.bounce {
  animation: bounce 0.3s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.number {
  transition: opacity 0.3s ease;
}

.number-enter {
  opacity: 0;
}

.number-enter-active {
  opacity: 1;
}

.number-exit {
  opacity: 1;
}

.number-exit-active {
  opacity: 0;
}
